html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
padding-top: 15vmin;
    height: 60%;
    width: 100%;
    object-fit: cover;
}
#camera--view, #camera--sensor, #camera--output{
    transform: scaleX(-1);

}
#camera--trigger{
    width: 70px;
    height: 70px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 300px;
    border: none;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    left: calc(50% - 35px);
}
.taken{
    height: 80px!important;
    width: 80px!important;
    transition: all 0.5s ease-in;
    border: solid 1px white;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    left: 20px;
    z-index: 2;
}

