html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#camera {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 3;
    
}

#camera--view, #camera--sensor, #camera--output{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
   
}
#camera--view, #camera--sensor, #camera--output{
    transform: scaleX(1);

}
#camera--trigger{
    width: 70px;
    height: 70px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 300px;
    border: none;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    left: calc(50% - 35px);
    z-index: 3;
}
.taken{
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    border: solid 1px white;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    bottom: 20px;
    left: 20px;
    z-index: 3;
}

.fillOverlay {
    width: 100%!important;
    z-index: 500!important;
}

.zstack {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
	display: grid;
	align-items: center;
	justify-items: center;

}
.zstack > * {
	grid-area: 1/1/1/1;
}

img {
    width: 100%;
    height:100%;
    z-index: 2;
    position: relative;
}